/* Write your CSS here */
.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.head {
  width: 100vw;
  height: 25vh;
}

.slider-container {
  background-color: black;
  padding: 40px;
}
